ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

body,
body *,
body *::before,
body *::after {
  margin: 0;
  box-sizing: border-box;
}

.bg {
  background: url(./images/background.png) no-repeat 50% 0 / cover;
}

.bg > * {
  width: clamp(460px, 100%, 100%);
}

.header {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    )
    no-repeat 50% 0 / cover;
  padding: 40px 200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.login-wrapper {
  position: relative;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 25px;
}

.lang-img {
  position: absolute;
  left: 10px;
  top: 12px;
}

.lang {
  background: url(./images/bi_caret-down-fill.png) no-repeat 95% 50%;
  border-radius: 2px;
  border: 1px solid #757575;
  appearance: none;
  width: 113px;
  padding: 12px 35px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 19.2px */
}

.login-btn {
  border: none;
  border-radius: 4px;
  background: var(--red-500, #e50914);
  width: 70px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 24px */
  letter-spacing: -0.008px;
}

/* 모바일 */
@media (max-width: 768px) {
  .header {
    padding: 20px 25px;
  }
  .logo {
    margin-right: 56px;
  }
}

.main {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    )
    no-repeat 50% 0 / cover;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 28px;
  padding: 57px 240.5px;
}

.headline {
  width: 518px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2; /* 72px */
  letter-spacing: -0.03px;
}

.paragraph1 {
  text-align: justify;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 30px */
  letter-spacing: -0.01px;
}

.paragraph2 {
  width: 306px;
  text-align: justify;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 24px */
  letter-spacing: -0.008px;
}

.email-form {
  display: flex;
  flex-flow: row nowrap;
}

.form-input {
  width: 540px;
  height: 60px;
  padding: 18px 20px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 24px */
  letter-spacing: -0.008px;
}

.form-btn {
  width: 210px;
  height: 60px;
  padding: 15px 20px;
  background: #e50914;
  border: none;
  color: #fff;
  text-align: justify;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2; /* 26.4px */
  background-image: url(./images/Button/arrow.png);
  background-repeat: no-repeat;
  background-position: 89% 50%;
}

/* 모바일 */
@media (max-width: 768px) {
  .main {
    padding: 20px 18px;
  }
  .headline {
    width: 310px;
    text-align: center;

    font-size: 34px;
    font-weight: 600;
    line-height: 1.2; /* 40.8px */
  }
  .paragraph1 {
    width: 259px;
    text-align: center;
  }
  .paragraph2 {
    text-align: center;
  }
  .email-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .form-input {
    width: 245px;
    height: 40px;
    border-radius: 30px;
    padding: 10px 20px 9px 20px;
    border: none;
  }
  .form-btn {
    height: 40px;
    padding: 15px 20px;
    border-radius: 30px;

    font-size: 14px;
    font-weight: 500;
    line-height: 1; /* 21px */
    letter-spacing: -0.007px;
  }

  .paragraph2 {
    font-weight: 400;
  }
}

.divider {
  background: #2f2f2f;
  height: 4px;
}

.footer {
  background: #010101;
  color: #acacac;
  display: flex;
  flex-flow: column nowrap;
}

.footer-inner {
  padding: 50px 200px;
  display: grid;
  row-gap: 60px;
}

.cs-call {
  color: #c8c8c8;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 30px */
  letter-spacing: -0.01px;
}

.guide-link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2; /* 19.2px */
  width: clamp(600px, 80%, 999px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 20px;
}

.footer-lang {
  position: relative;
}

.footer-lang .lang-img {
  position: absolute;
  left: 10px;
  top: 12px;
}

.footer-lang .lang {
  background: url(./images/bi_caret-down-fill.png) no-repeat 95% 50%;
  border-radius: 2px;
  border: 1px solid #757575;
  appearance: none;
  width: 113px;
  padding: 12px 35px;
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; /* 19.2px */
}

.company {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2; /* 26.4px */
  padding-bottom: 20px;
}

.address {
  font-style: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: start;
  column-gap: 15px;
}

/* 모바일 */
@media (max-width: 768px) {
  .footer {
    align-items: center;
  }

  .footer-inner {
    width: 325px;
    padding: 40px 25px;
  }

  .cs-call-number {
    display: block;
  }

  .guide-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    width: 325px;
  }
}
